{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('app_home') }}">Homepage</a>

<h1>List of students:</h1>

<a href="{{ path('student_create') }}">Create student</a>

<table>
    <thead>
        <tr>
            <td>id</td>
            <td>first name</td>
            <td>last name</td>
            {# <td>email</td>
            <td>date of birth</td> #}
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">
                        {{student.id}}
                    </a>
                </td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                {# <td>{{ student.email }}</td> #}
                {# <td>{{ student.dateOfBirth }}</td> #}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    {% if currentPage > 1 %}
        <a href="{{ path('app_students', { 'page': 1 }) }}">First</a>
    {% endif %}

    {% if currentPage > 1 %}
        <a href="{{ path('app_students', { 'page': currentPage - 1 }) }}">&laquo; Previous</a>
    {% endif %}

    <span>Page {{ currentPage }} of {{ totalPages }}</span>

    {% if currentPage < totalPages %}
        <a href="{{ path('app_students', { 'page': currentPage + 1 }) }}">Next &raquo;</a>
    {% endif %}

    {% if currentPage < totalPages %}
        <a href="{{ path('app_students', { 'page': totalPages }) }}">Last</a>
    {% endif %}
</div>

{% endblock %}
