{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('app_students') }}">Return to the students page</a>

<h1>Student:</h1>

<table>
    <tbody>
        <tr>
            <th>First Name:</th>
            <td>{{ student.firstName }}</td>
        </tr>
            
        <tr>
            <th>Last Name:</th>
            <td>{{ student.lastName }}</td>
        </tr>

        <tr>
            <th>Email:</th>
            <td>{{ student.email }}</td>
        </tr>

        <tr>
            <th>Date of birth:</th>
            <td>{{ student.dateOfBirth ? student.dateOfBirth|date('Y-m-d') : '' }}</td>
        </tr>

        <tr>
            <th>Class:</th>
            <td><a href="{{ path('classGroup_show', { id: student.classGroup.id }) }}">{{ student.classGroup.name }}</a></td>
        </tr>

        <tr>
            <th>Projects:</th>
            <td>
                <ul>
                    {% for project in student.projects %}
                        <li><a href="{{ path('project_show', { id: project.id }) }}">
                            {{ project.subject }}
                        </a></li>
                    {% else %}
                        <li><em>This student has no projects.</em></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('student_edit', {'id': student.id}) }}">Edit</a>
<a href="{{ path('student_delete', {'id': student.id}) }}">Delete</a>

{% endblock %}
