{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('app_home') }}">Homepage</a>

<h1>List of projects:</h1>

<a href="{{ path('project_create') }}">Create project</a>

<table>
    <thead>
        <tr>
            <td>id</td>
            <td>Subject</td>
            <td>Grade</td>
            {# <td>Students</td> #}
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">
                        {{project.id}}
                    </a>
                </td>
                <td>{{ project.subject }}</td>
                <td>{{ project.totalGrade }}</td>
                {# <td>{{ project.students }}</td> #}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
