{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('app_home') }}">Homepage</a>

<h1>User:</h1>

<table>
    <tbody>
        <tr>
            <th>Email:</th>
            <td>{{ user.email }}</td>
        </tr>

        <tr>
            <th>Roles:</th>
            <td>
                <ul>
                    {% for role in user.roles %}
                        <li>{{ role }}</li>
                    {% else %}
                        <li><em>This user has no roles.</em></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
<a href="{{ path('user_delete', {'id': user.id}) }}">Delete</a>

{% endblock %}
